<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Chage Confirmation</title>
</head>
<body style="background-color: lightgrey; font-family: Arial, Helvetica, sans-serif;">
<table style="width: 100%;">
    <tr>
        <td>
            <table style="width: 50%; padding-top: 30px; margin: 0 auto;">
                <tr>
                    <td style="text-align: center;">
                        <div style="background-color: #f7f7f7; border: 1px solid #333333; padding: 10px; border-radius: .375rem;">
                            <span style="font-size: large;"><strong>Your password has been changed!</strong></span>
                        </div>
                    </td>
                </tr>
                <tr><td><div style="padding: 5px;"></div></td></tr>
                <tr>
                    <td style="text-align: center;">
                        <div style="background-color: #f7f7f7; border: 1px solid #333333; padding: 10px; border-radius: .375rem;">
                            <p><span th:text="${user.firstName}"><strong>[First Name]</strong></span>, your password has been reset.</p>
                            <p>If this was not you, please log in and change your password.</p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
